<template name="signup">
	<div class="container">
		<div class="row">
			<div class="hidden-sm col col-lg-3">
				<h1>Stuff</h1>
			</div>
			<div class="col col-lg-9">
			<form class="form-signup" id="signup-form" action="action">
				<h2 class="form-login-heading">Create an account</h2>
				<input type="text" id="account-name" placeholder="Your name" />
				<input type="email" id="account-email" placeholder="Email address" />
				<input type="password" id="account-password" placeholder="Your password" />
				<button class="btn btn-large btn-primary btn-block" id="signup-button" type="submit">Sign up</button>
			</form>
		</div>
		</div>
	</div>
</template>